name: Build and Test Workflow

on:
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8
            - name: Setup Go
              uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
              with:
                go-version: '1.23.3'
            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@1e7e51e771db61008b38414a730f564565cf7c20 # v9.2.0
            - name: Run test and generate the coverage result
              run: go test -v ./... -coverprofile=coverage.out
            - name: Upload Coverage Reports
              uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
              with:
                name: Coverage-report
                path: coverage.out
            - name: Display the Coverage Report
              run: go tool cover -func=coverage.out
            - name: Build Go 
              run: go build ./...
