name: Build and Test Workflow

on:
    pull_request:
        branches: [main]

jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout Code
              uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3
            - name: Setup Go
              uses: actions/setup-go@d35c59abb061a4a6fb18e82ac0862c26744d6ab5
              with:
                go-version: '1.23.3'
            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@0a35821d5c230e903fcfe077583637dea1b27b47 # v9.0.0
            - name: Run test and generate the coverage result
              run: go test -v ./... -coverprofile=coverage.out
            - name: Upload Coverage Reports
              uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4
              with:
                name: Coverage-report
                path: coverage.out
            - name: Display the Coverage Report
              run: go tool cover -func=coverage.out
            - name: Build Go 
              run: go build ./...
